@{
    ViewBag.Title = "Đặt lại mật khẩu";
    Layout = "~/Views/Shared/_LayoutChung.cshtml";
}

<div class="bg-gray">
    <section class="section">
        <div class="container">
            <div class="page_login">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xl-4 offset-0 offset-xl-4 offset-lg-4 offset-md-3 offset-xl-3 col-12 account-animate">
                        <div class="page-login pagecustome clearfix">
                            <div class="wpx">
                                <h1 class="title_heads a-center"><span>Đặt lại mật khẩu</span></h1>

                                @if (TempData["ResetError"] != null)
                                {
                                    <div class="alert alert-danger">@TempData["ResetError"]</div>
                                }

                                <div id="reset-form" class="section">
                                    @using (Html.BeginForm("Reset_mat_khau", "Account", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("tenDangNhap", (string)ViewBag.TenDangNhap)

                                        <span class="form-signup text-danger">
                                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                        </span>

                                        <div class="form-signup clearfix">
                                            <fieldset class="form-group">
                                                <label>Tài khoản</label>
                                                <input type="text"
                                                       class="form-control form-control-lg"
                                                       value="@ViewBag.TenDangNhap"
                                                       disabled />
                                            </fieldset>

                                            <fieldset class="form-group">
                                                <input type="password"
                                                       class="form-control form-control-lg"
                                                       name="MatKhau"
                                                       placeholder="Mật khẩu mới"
                                                       required />
                                            </fieldset>

                                            <fieldset class="form-group">
                                                <input type="password"
                                                       class="form-control form-control-lg"
                                                       name="XacNhanMatKhau"
                                                       placeholder="Xác nhận mật khẩu mới"
                                                       required />
                                            </fieldset>

                                            <div class="pull-xs-left">
                                                <input class="btn btn-primary btn-style" type="submit" value="ĐẶT LẠI MẬT KHẨU" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>