@model IEnumerable<ShopFlower.Models.SANPHAM>
@{
    ViewBag.Title = "@ViewBag.Keyword";
    Layout = "~/Views/Shared/_LayoutChung.cshtml";
}

<div class="layout-collection">
    <div class="container">
        <div class="row">
            @if (!Model.Any())
            {
                <p>Không tìm thấy sản phẩm nào phù hợp với từ khóa "<strong>@ViewBag.Keyword</strong>".</p>
            }
            else
            {
                <div class="col-12 col-title">
                    <h1>Kết quả tìm kiếm cho: "@ViewBag.Keyword"</h1>
                </div>
                <div class="col-12 col-list-cate">
                    <div class="menu-list">
                    </div>
                </div>

                <div class="block-collection col-lg-12 col-12">
                    <div class="category-products products-view products-view-grid list_hover_pro">

                        <div class="products-view products-view-grid list_hover_pro">
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-6 col-md-3">
                                        <div class="item_product_main">

                                            <form action="@Url.Action("ThemGioHang", "Cart", new { @ms = item.MaSP, @strURL = Request.Url.ToString()})" method="post" class="variants product-action item-product-main duration-300" data-cart-form="" data-id="product-actions-57772035" enctype="multipart/form-data">

                                                <div class="product-thumbnail">
                                                    <a class="image_thumb scale_hover" href="@Url.Action("chi_tiet_san_pham", "SanPham", new { id = item.MaSP.Trim() })" title="@item.TenSP">
                                                        <img class="lazyload duration-300 loaded" src="~/Images/@item.AnhSP" alt="@item.TenSP" data-was-processed="true">
                                                    </a>
                                                    <div class="action-button">
                                                        @*<a title="Xem nhanh" href="@Url.Action("chi_tiet_san_pham", "SanPham", new { id = item.MaSP.Trim() })" class="xem_nhanh btn-circle btn-views btn_view btn right-to quick-view">
                                                        <img class="view_img" width="25" height="25" src="//bizweb.dktcdn.net/100/487/411/themes/957692/assets/eye.svg?1757405855081" alt="Xem nhanh">
                                                    </a>*@

                                                        <a href="@Url.Action("ThemVaoYeuThich", "WishList", new { @ms = item.MaSP, @strURL = Request.Url.ToString()})" class="setWishlist btn-views btn-circle" tabindex="0" title="Thêm vào yêu thích">
                                                            <img width="25" height="25" src="//bizweb.dktcdn.net/100/487/411/themes/957692/assets/heart.png?1757405855081" alt="Thêm vào yêu thích">
                                                        </a>

                                                    </div>
                                                </div>
                                                <div class="product-info">
                                                    <h3 class="product-name line-clamp line-clamp-2">
                                                        <a href="@Url.Action("chi_tiet_san_pham", "SanPham", new { id = item.MaSP.Trim() })" title="@item.TenSP">@item.TenSP</a>
                                                    </h3>
                                                    <div class="product-price-cart">
                                                        <div class="price-box">
                                                            <span class="price">@String.Format("{0:N0} đ", @item.GiaBan)</span>
                                                        </div>
                                                        <div class="product-button">
                                                            <input type="hidden" name="variantId" value="171650104">
                                                            <button class="btn-cart btn-views add_to_cart " title="Thêm vào giỏ hàng">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                                                    <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"></path>
                                                                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                }
                                <div class="pagenav">
                                    <nav class="collection-paginate clearfix relative nav_pagi w_100">
                                        <ul class="pagination clearfix">
                                            @if (ViewBag.CurrentPage > 1)
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" href="@Url.Action("search", new { query = ViewBag.Keyword,page = ViewBag.CurrentPage - 1 })">«</a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#">«</a>
                                                </li>
                                            }

                                            @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                            {
                                                if (i == ViewBag.CurrentPage)
                                                {
                                                    <li class="page-item active">
                                                        <a class="page-link" style="pointer-events:none">@i</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="page-item">
                                                        <a class="page-link" href="@Url.Action("search", new {query = ViewBag.Keyword, page = i })">@i</a>
                                                    </li>
                                                }
                                            }

                                            @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" href="@Url.Action("search", new {query = ViewBag.Keyword, page = ViewBag.CurrentPage + 1 })">»</a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#">»</a>
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>





