@model ShopFlower.Models.CreateAccountViewModel

@{
    ViewBag.Title = "Tạo Tài Khoản Mới";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center">TẠO TÀI KHOẢN MỚI</h2>

@using (Html.BeginForm("Create_Account", "Dashboard", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.TenDangNhap, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.TenDangNhap, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.TenDangNhap, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MatKhau, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.MatKhau, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MatKhau, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TenHienThi, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.TenHienThi, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.TenHienThi, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SelectedRoles, "Vai trò", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.ListBoxFor(m => m.SelectedRoles, (MultiSelectList)ViewBag.Roles, new { @class = "form-control", multiple = "multiple" })
            @Html.ValidationMessageFor(m => m.SelectedRoles, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Tạo tài khoản" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về danh sách", "QL_TaiKhoan", null, new { @class = "btn btn-default" })
</div>