@model List<ShopFlower.Models.TINTUC>

@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_LayoutChung.cshtml";
}
<div class="blog_wrapper layout-blog">
    <div class="container">
        <div class="row">
            <div class="right-content col-lg-9 col-12">
                <h1 class="title-page">Tin tức</h1>

                <div class="top-new-page">
                    @if (Model != null && Model.Any())
                    {
                        var tinTucDauTien = Model.First();
                        var tinTucConLai = Model.Skip(1).Take(3).ToList();
                        <div class="row">


                            <div class="top-news-left col-12 col-md-6 col-lg-7">
                                <div class="new-item">
                                    <a class="image-blog" href="@Url.Action("Details", "Home", new { id = tinTucDauTien.MATT.Trim() })" title="@tinTucDauTien.TIEUDE">
                                        <img class="img_blog duration-300 lazyload loaded" src="~/Images/@tinTucDauTien.ANHBIA" alt="@tinTucDauTien.TIEUDE" data-was-processed="true">
                                    </a>
                                    <div class="content-box">
                                        <p class="time-post">
                                            <svg width="18" height="18" viewBox="0 0 11 11" fill="none">
                                                <g>
                                                    <path d="M5.50016 0.458252C4.50302 0.458252 3.52826 0.753941 2.69917 1.30793C1.87007 1.86191 1.22386 2.64931 0.842272 3.57056C0.460681 4.4918 0.360839 5.50551 0.555373 6.4835C0.749906 7.46149 1.23008 8.35983 1.93517 9.06492C2.64026 9.77001 3.5386 10.2502 4.51658 10.4447C5.49457 10.6392 6.50828 10.5394 7.42953 10.1578C8.35077 9.77622 9.13817 9.13002 9.69216 8.30092C10.2461 7.47182 10.5418 6.49707 10.5418 5.49992C10.5403 4.16327 10.0086 2.88182 9.06342 1.93666C8.11827 0.991509 6.83681 0.459829 5.50016 0.458252ZM7.19921 7.19896C7.11326 7.28488 6.9967 7.33315 6.87516 7.33315C6.75363 7.33315 6.63707 7.28488 6.55112 7.19896L5.17612 5.82396C5.09016 5.73803 5.04186 5.62147 5.04183 5.49992V2.74992C5.04183 2.62836 5.09012 2.51178 5.17607 2.42583C5.26203 2.33987 5.37861 2.29159 5.50016 2.29159C5.62172 2.29159 5.7383 2.33987 5.82426 2.42583C5.91021 2.51178 5.9585 2.62836 5.9585 2.74992V5.31017L7.19921 6.55088C7.28513 6.63683 7.3334 6.75339 7.3334 6.87492C7.3334 6.99645 7.28513 7.11301 7.19921 7.19896Z" fill="#898989"></path>
                                                </g>
                                            </svg>
                                            <span>
                                                @(tinTucDauTien.NGAYTHEM.HasValue ? tinTucDauTien.NGAYTHEM.Value.ToString("dd/MM/yyyy") : "")
                                            </span>
                                        </p>
                                        <h3><a title="@tinTucDauTien.TIEUDE" href="@Url.Action("Details", "Home", new { id = tinTucDauTien.MATT.Trim() })">@tinTucDauTien.TIEUDE</a></h3>
                                        <p class="justify line-clamp line-clamp-3" style="display:none">
                                            @{
                                                var motaText = tinTucDauTien.MOTA ?? "";
                                                var motaShort = motaText.Length > 186 ? motaText.Substring(0, 186) + "..." : motaText;
                                            }


                                            @Html.Raw(motaShort)
                                        </p>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="top-news-right col-12 col-md-6 col-lg-5">
                            @foreach (var item in tinTucConLai)
                            {
                                <div class="new-item-right">
                                    <div class="thumb">
                                        <a class="image-blog" href="@Url.Action("Details", "Home", new { id = item.MATT.Trim() })" title="@item.TIEUDE">
                                            <img class="img_blog lazyload loaded" src="~/Images/@item.ANHBIA" alt="@item.TIEUDE" data-was-processed="true">
                                        </a>
                                    </div>
                                    <div class="contentright">
                                        <h3 class="line-clamp line-clamp-2"><a title="@item.TIEUDE" href="@Url.Action("Details", "Home", new { id = item.MATT.Trim() })">@item.TIEUDE</a></h3>
                                        <p class="time-post">
                                            <svg width="18" height="18" viewBox="0 0 11 11" fill="none">
                                                <g>
                                                    <path d="M5.50016 0.458252C4.50302 0.458252 3.52826 0.753941 2.69917 1.30793C1.87007 1.86191 1.22386 2.64931 0.842272 3.57056C0.460681 4.4918 0.360839 5.50551 0.555373 6.4835C0.749906 7.46149 1.23008 8.35983 1.93517 9.06492C2.64026 9.77001 3.5386 10.2502 4.51658 10.4447C5.49457 10.6392 6.50828 10.5394 7.42953 10.1578C8.35077 9.77622 9.13817 9.13002 9.69216 8.30092C10.2461 7.47182 10.5418 6.49707 10.5418 5.49992C10.5403 4.16327 10.0086 2.88182 9.06342 1.93666C8.11827 0.991509 6.83681 0.459829 5.50016 0.458252ZM7.19921 7.19896C7.11326 7.28488 6.9967 7.33315 6.87516 7.33315C6.75363 7.33315 6.63707 7.28488 6.55112 7.19896L5.17612 5.82396C5.09016 5.73803 5.04186 5.62147 5.04183 5.49992V2.74992C5.04183 2.62836 5.09012 2.51178 5.17607 2.42583C5.26203 2.33987 5.37861 2.29159 5.50016 2.29159C5.62172 2.29159 5.7383 2.33987 5.82426 2.42583C5.91021 2.51178 5.9585 2.62836 5.9585 2.74992V5.31017L7.19921 6.55088C7.28513 6.63683 7.3334 6.75339 7.3334 6.87492C7.3334 6.99645 7.28513 7.11301 7.19921 7.19896Z" fill="#898989"></path>
                                                </g>
                                            </svg>
                                            <span>
                                                @(item.NGAYTHEM.HasValue ? item.NGAYTHEM.Value.ToString("dd/MM/yyyy") : "")
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>

                <div class="row list-news">
                    <div class="pagi-div">
                    </div>
                </div>

            </div>

        </div>
        <div class="blog_left_base col-lg-3 col-12" style="padding-top:30px">
            <div class="side-right-stick">
                <div class="blog_noibat">
                    <h2 class="h2_sidebar_blog">
                        <a href="~/Home/Tin_tuc" title="Tin tức nổi bật">Tin tức nổi bật</a>
                    </h2>
                    <div class="blog_content">
                        @foreach (var item in Model)
                        {
                            <div class="item clearfix">
                                <div class="post-thumb">
                                    <a class="image-blog scale_hover" href="@Url.Action("Details", "Home", new { id = item.MATT.Trim() })" title="@item.TIEUDE" style=" opacity: inherit;">
                                        <img class="img_blog lazyload loaded" src="~/Images/@item.ANHBIA" alt="@item.TIEUDE" data-was-processed="true">
                                    </a>
                                </div>
                                <div class="contentright">
                                    <h3><a title="@item.TIEUDE" href="@Url.Action("Details", "Home", new { id = item.MATT.Trim() })">@item.TIEUDE</a></h3>
                                    <p class="time-post">
                                        <span>
                                            @{
                                                var ngayThem = item.NGAYTHEM as DateTime?;
                                                @(ngayThem.HasValue ? ngayThem.Value.ToString("dd/MM/yyyy") : "")
                                            }
                                        </span>
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
